; ***********************************
; |docname| - Configure code coverage
; ***********************************
[run]
source=bookserver
# _`parallel=True` is required for `code_coverage` to work correctly.
parallel=True

[html]
directory = test/htmlcov
