# ********************************
# |docname| - Flake8 configuration
# ********************************
# Docs todo: provide nice hyperlinks to docs on these configuration settings, and perhaps some rationale (why 88 characters, etc.).
#
# To run, execute ``flake8 .`` from the root directory of the project.
[flake8]
max-line-length=88
ignore=F821,
  W503,
  # space before ``:``
  E203,
  E501,
  E265,
  # too many ``#``
  E266,
  E711,
  # web2py needs to compare to ``== True`` or ``== False`` for queries.
  E712

exclude =
  # Ignore Sphinx build output.
  _build/
  alembic/