# ********************************
# |docname| - Poetry configuration
# ********************************
[tool.poetry]
name = "app"
version = "0.1.0"
description = "A new Runestone Server Framework"
authors = ["Brad Miller <bonelake@mac.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.62.0"
uvicorn = "^0.13.1"
Jinja2 = "^2.11.2"
aiofiles = "^0.6.0"
# :index:`FIXME`: shouldn't we install a `backend <https://www.encode.io/databases/#installation>`_?
databases = "^0.4.1"
aiosqlite = "^0.16.0"
alembic = "^1.4.3"
python-dateutil = "^2.8.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
pytest = "^6.2.0"
flake8 = "^3.8.4"
CodeChat_Server = "^0.0.15"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
