<!--
***************************************
|docname| - template for the login page
***************************************
See `login`. TODO: more docs.
-->
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form
      action="{{ request.root_path }}/auth/validate{{ post_suffix }}"
      method="post"
    >
      <div>
        <label>
          Username
          <input
            type="text"
            name="username"
            id="input-username"
            autocomplete="username"
            autofocus
          />
        </label>
      </div>

      <div>
        <label>
          Password
          <input
            type="password"
            name="password"
            id="input-password"
            autocomplete="current-password"
          />
        </label>
      </div>

      {% if has_auth_code %}
      <div>
        <label>
          Authorization code
          <input type="password" name="auth_code" />
        </label>
      </div>
      {% endif %}

      <div>
        <input type="submit" id="form-submit" />
      </div>

      <div>
        <button
          type="button"
          onclick="location.href='/user/request_reset_password'"
        >
          Lost password
        </button>
        <button type="button" onclick="location.href='/user/retrieve_username'">
          Forgot username
        </button>
      </div>
    </form>
  </body>
</html>
